{
	"env": {
		"browser": true,
		"node": true
	},
	"parserOptions": {
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": ["./.astro/**.*"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:astro/recommended",
		"prettier"
	],
	"overrides": [
		{
			"files": ["**/*.astro"],
			"parser": "astro-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser",
				"extraFileExtensions": [".astro"]
			}
		}
	]
}
