---
import { getHomepage } from "#api/homepage";
import Button from "#components/Button.astro";
import ContactForm from "#components/ContactForm.astro";
import Container from "#components/Container.astro";
import InstructorsSection from "#components/InstructorsSection.astro";
import Layout from "#layouts/Global.astro";

const { title, description, image } = await getHomepage();
---

<Layout>
	<header>
		<Container><h1>{title}</h1></Container>

		{
			description && (
				<div class="split-bg">
					<Container class="description-container">
						<div class="description">
							<div class="contents" set:html={description} />

							<Button as="a" href="#contact" variant="outline">
								Get in touch
							</Button>
						</div>
					</Container>
				</div>
			)
		}
	</header>

	<div class="page-content">
		<InstructorsSection id="our-instructors" />

		<hr />

		<ContactForm id="contact" />
	</div>
</Layout>

<style
	define:vars={{
		backgroundImage: `url(${image.url}?w=1440&auto=compress)`,
	}}
>
	header {
		background-color: var(--color-green-900);
		background-image: var(--backgroundImage);
		background-size: cover;
		background-blend-mode: overlay;
		padding-block-start: 1px;
	}

	h1 {
		margin-block: var(--space-xxl);
		font-size: var(--font-size-xxl);
		color: var(--color-white);
		text-align: center;
		text-wrap: balance;
		text-shadow: 0 0.125em 0.25em rgb(0 0 0 / 0.25);
	}

	.split-bg {
		background-image: linear-gradient(
			to bottom,
			transparent,
			transparent 37%,
			var(--color-green-50) 37%,
			var(--color-green-50)
		);
	}

	.description-container {
		padding-block-end: var(--space-lg);
	}

	.description {
		max-width: 65ch;
		margin-inline: auto;
		margin-block-end: var(--space-xl);
		border-radius: var(--space-sm);
		padding: var(--space-lg);
		background-color: var(--color-white);
		font-size: var(--font-size-md);
		text-align: center;
		text-wrap: balance;
		box-shadow: 0 0.5rem 4rem 0.5rem rgba(0, 0, 0, 0.25);
	}

	.contents {
		display: contents;
	}

	:global(.description p) {
		margin-block: 0;
	}

	:global(.description p + p) {
		margin-block-start: var(--rhythm-md);
	}

	a {
		margin-block-start: var(--space-lg);
	}

	.page-content {
		padding-block-end: var(--space-xl);
		background-image: linear-gradient(
			to bottom,
			var(--color-green-50),
			var(--color-white)
		);
	}

	hr {
		height: 2px;
		max-width: var(--size-container);
		margin-block: var(--space-xl);
		margin-inline: auto;
		border: 0;
		padding-inline: var(--space-md);
		background-color: var(--color-gray-100);

		@media (min-width: 48em) {
			margin-block: var(--space-xxl);
		}
	}
</style>
